@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>







<address>
    5260 Joan Ct<br />
    San Diego, CA 92115<br />
    <abbr title="Phone">P:</abbr>
    951.833.8086
</address>

<address>
    <strong>CEO:</strong> <a href="mailto:theanthonysavitt@gmail.com">theanthonysavitt@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Kim@meme.com">Kim@meme.com</a>
</address>
